body{
    background-image: url("https://media.istockphoto.com/id/1084586258/photo/brown-marble-wall-or-flooring-pattern-surface-texture-close-up-of-interior-material-for.jpg?s=612x612&w=0&k=20&c=tTI5J_hwMjkWrlvBWoMdvMAR4KnJu4HXIaA3ICOWmWs=");
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    

  }
  .Menue{
    background-color: grey;
    text-align: center;
    
  }
   .Menue ul{
        display:inline-flex ;
        list-style:none ;
         margin-top:20px ;
     

    }
    .Menue a{
        color:purple
    }
    
    
   
       
    a:hover{
        color:green;
    }
    
    .SubMenue1{
        display:none;
        background-color: black;
    }
    
    
     .Menue ul li:hover .SubMenue1{
        display: block;
        position: absolute;
       
        margin-top:15px ;
        margin-bottom:-15px ;
        color:white;
      
       
    }
    .Menue ul li:hover .SubMenue1 ul{
       display:block ;
       margin: 10px;
      
    }
    .Menue ul li :hover .SubMenue1 ul,li  {
        width: 150px;
        padding:10px ;
        border-bottom:1px dotted white ;
        background: transparent;
        border-radius:0 ;
        text-align:left ;
    }
    
    
    
    .SubMenue2{
        display:none;
        background-color: black;
    }
    
    
    
    .Menue ul li:hover .SubMenue2{
        display: block;
        position: absolute;
        color:white;
      
       
    }
    .Menue ul li:hover .SubMenue2 ul{
       display:block ;
       margin: 10px;
      
    }
    .Menue ul li :hover .SubMenue2 ul,li  {
        width: 150px;
        padding:10px ;
        border-bottom:1px dotted black;
        background: transparent;
        border-radius:0 ;
        text-align:left ;
    }
    form {
        
        align-items: center;
    
       
      }
    
label {
    font-size: 1.2rem;
    margin-top:30px;
  }
  
  input[type="file"] {
    margin-top:40px;
    margin-bottom: 30px;
  }
  
  
  

    legend {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 2px 2px 2px 2px;
        text-align: center;
        margin-bottom: 30px;
      }
      .MyButton{
        margin-top: 20px;
      }
      
      button[type="submit"] {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        display: block;
        margin:auto;
        
      }
      
      footer {
        background-color: black;
        color:white;
        text-align: center;
        bottom: 0;
        left: 50%;
        width:100%
      }
     
     .UserProfile{
      display: flex;
      align-items: center;
      justify-content: center;
      height:100vh;
     }
     .UserProfile form{
      background-color: aliceblue;
      padding:20px;
      border-radius: 10px;
      
     }
     .AccountInformation{
      text-align: center;
      margin-bottom: 30px;
      
     }
     .AccountInformation legend{
      text-align: center;
      font-weight: bold;
      font-size: 24px;

     }
     .AccountInformation button{
      margin-top: 30px;
      background-color: rgb(7, 68, 7);
     }

     .UserProfile input[type="Name:"]
     .UserProfile input[type="email:"]
     .UserProfile input[type="Password:"]{
      display:flex;
      margin:auto;
     }
